{% extends "base.html" %} {% load thumbnail %} {% block title %} Image Sharer {%
endblock %} {% block body %}
<div class="row">
  {% for posts in post %}
  <div class="col-sm-6 col-md-4">
    <div class="card my-4">
      {% thumbnail posts.image "300*300" crop='center' as im %}
      <img src="{{im.url}}" class="card-img-top" alt="{{posts.text}}" />
      {% endthumbnail %}
      <div class="card-body">
        <p class="card-text">{{posts.text}}</p>
        <a href="{% url 'feed:details'% posts.id}" class="btn btn-primary"
          >View Details</a
        >
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-sm-6 offset-3 text-center py-4">
    <h3>Welcome!</h3>
    <p>Add your first image</p>
    <a href="{% url 'feed:post' %}" class="btn btn-lg btn-success"
      >Upload Image</a
    >
  </div>

  {% endfor %}
</div>

{% endblock %}
